<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="/js/functions.js"></script>
</head>
<body>
	
	<div class = "container2">
	<div class = "row-1">
		<h2>Click on a wish list to begin adding: </h2>
	</div>

	<div class = "animated bounceIn" class = "row-2">
		
		<a href="/users/lists/fashion" class="btn btn-info" class = "button" role="button" name = "title">Fashion</a>

		<a href="/users/lists/tech" class="btn btn-info" role="button" class = "button" name = "title">Tech</a>

		<a href="/users/lists/household" class="btn btn-info" role="button" class = "button" name = "title">Household</a>

		<a href="/users/lists/beauty" class="btn btn-info" role="button" class = "button" name = "title">Beauty</a>

		<a href="/users/lists/gifts" class="btn btn-info" role="button" class = "button" name = "title">Gifts</a>

		<!-- <button type="button" class="btn btn-default" id ="add">+</button> -->
	</div>


	<!--Container ending-->
</div>





</body>
</html>


