<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h2 class = "page-header">Welcome! </h2>
	<p>You can start creating your shopping carts here: </p>
	<button type="button" class="btn btn-info">
		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>

	</button>

	
	<div class = "container">
		<div id = "lists">

		</div>
	</div>

</body>
</html>
