<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="/js/functions.js"></script>
</head>
<body>
	
	<div class = "container">
	<div class = "row-1">
		<h2>Click on a shopping cart to begin adding: </h2>
	</div>

	<div class = "row-2">
		
		<a href="/users/lists/fashion" class="btn btn-info" id = "fashion" role="button" name = "title">Fashion</a>

		<a href="/users/lists/tech" class="btn btn-info" role="button" name = "title">Tech</a>

		<a href="/users/lists/household" class="btn btn-info" role="button" name = "title">Household</a>

		<a href="/users/lists/beauty" class="btn btn-info" role="button" name = "title">Beauty</a>

		<a href="/users/lists/gifts" class="btn btn-info" role="button" name = "title">Gifts</a>

		<!-- <button type="button" class="btn btn-default" id ="add">+</button> -->
	</div>
</div>
	

<!-- <script>
	
	$("#make-list").click(function(){
		console.log("tis working");
	})

</script> -->




</body>
</html>


