<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="/js/functions.js"></script>
</head>
<body>
	
	<div class = "container">
	<div class = "row-1">
		<h2>Click on a shopping cart to begin adding: </h2>
	</div>

	<div class = "row-2">
		
		<a href="/users/lists" class="btn btn-info" id = "fashion" role="button">Fashion</a>

		<!-- <button type="button" class="btn btn-default" href="/users/lists">Fashion</button> -->

		<button type="button" class="btn btn-default">Tech</button>

		<button type="button" class="btn btn-default">Household</button>

		<button type="button" class="btn btn-default">Beauty</button>

		<button type="button" class="btn btn-default">Gifts</button>

		<button type="button" class="btn btn-default" id ="add">+</button>
	</div>
</div>
	

<!-- <script>
	
	$("#make-list").click(function(){
		console.log("tis working");
	})

</script> -->




</body>
</html>


