<div class="page-header">
		  <h1>Logo</h1>
		</div>

<center><div class = "container">
	<div id = "list-box">
		<h3>
		Name of Cart
		<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add</button>
		</h3>
		<div id ="list-content">
			<!--buttons containing product link-->
			<button type="button" class="btn btn-default">Product 1</button>
				
				<button type="button" class="btn btn-default"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>

			<br> <br>

			<button type="button" class="btn btn-default">Product 2</button>
				
				<button type="button" class="btn btn-default"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>